---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$admin-color: rgb(0,128,128);
$admin-color-transparent: rgba(0,128,128, 0.9);
$admin-color-light: lighten($admin-color, 40%);
$admin-color-dark:  darken($admin-color, 10%);
$admin-text-color: #fff;
$admin-font-size: 14px;
$transition: all .5s;
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "admin"
;

